
    <style type="text/css">
        p {
            width: 400px;
            display: none;
        }
    </style>
    <script src="http://cdn.jquerytools.org/1.2.5/jquery.tools.min.js"></script>


        <button id="b1">slideDown</button>
        <button id="b2">slideUp</button>
        <button id="b3">fadeIn</button>
        <button id="b4">fadeOut</button>
        <p id="p1">
            Only I can change my life. No one can do it for me.<br />
            Well begun is <em>half</em> done.
            <img width="300" src="https://t1.daumcdn.net/daumtop_chanel/op/20170315064553027.png" />
        </p>

        <p id="p2">
            Lovely Drinking<br />
            Chocolate Drinking.
        </p>
        <script>
            $(b1).click(function () {
                $(p1).slideDown("slow");
            }
            );
            $(b2).click(function () {
                $(p1).slideUp("slow");
            }
            );
            $(b3).click(function () {
                $(p1).fadeIn(3000, function () {
                    $(p2).fadeIn(100);
                }
                );
                return false;
            });
            $(b4).click(function () {
                $(p1).fadeOut("slow");
            }
            );
        </script>


