<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="form-group">
        <div style="position:relative;">
            <label>Image</label>
            <a class='btn' href='javascript:;'>
                Choose File...
                <input class="uploadjs" type="file" name="Image" size="40"
                       style="position:absolute;z-index:2;top:0;left:0;filter:alpha(opacity=0);opacity:0;background-color:transparent;color:transparent;"
                       onchange="document.getElementById('pdf').src = window.URL.createObjectURL(this.files[0])">
            </a>
            <span class='label label-info' id="upload-file-info"></span>
        </div>

        <a onclick="window.open(document.getElementById('pdf').src);">
            <embed id="pdf" width="100%" height="100%" />
        </a>
        <img id="image" class="img-thumbnail" width="150" height="150" />

        <script>
            function readURL(input, id) {
                var mime = input.files[0].type;

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        if (mime.split("/")[0] == "image") {
                            $('#pdf').attr('src', '');
                            $('#image').attr('src', e.target.result);

                        }
                        else {
                            $('#image').attr('src', '');
                            $('#pdf').attr('src', e.target.result);
                        }
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $(function () {
                $(".uploadjs").change(function () {
                    var id = $(this).data('id')
                    readURL(this, id);
                });
            })
        </script>
